.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content{
  width: 95%;
  align-items: center;
  justify-content: center;
}

.container-menu {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-container {
  min-width: 60%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fffcfc;
  margin-top: 15px;;
}

.input-container {
  margin-top: 10%
}

mat-form-field {
  width: 500px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-fild {
  width: 500px !important;
}

.actions-btn-container{
  width: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.opt-container{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 5% !important;
}
.file-container{
  width: 100%;
  height: 10%;
}
.custom-file-input{
  background-color: #333;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
}
.custom-file-input:hover{
  background-color: rgba(51, 51, 51, 0.693);
}

.title{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
}
