/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sucess-snack{
  background-color: rgb(130, 230, 130);
  color: #1f1f1f;
}
.error-snack{
  background-color: rgb(247, 112, 112);
  color: #1f1f1f;
}
